@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background:#dfe3ee;
}

/* Utility Classes */
a {
  text-decoration: none;
}

.selected {
  background: #005b96;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.l-heading {
  font-size: 3.5rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
  color: #03396c;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}

.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}

.btn {
  display: inline-block;
  color: #ddd;
  background: #03396c;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background: #005b96;
}

.white-box {
  background: #f7f7f7;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

.blue-box {
  background: #b3cde0;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
}
/* Utility Classes End */

/* Header */
#main-header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0 1.5rem 0;
}

#main-header .logo-n-title {
  display: flex;
  align-items: center;
}

#main-header .logo-n-title div {
  padding-left: 1rem;
}

#main-header .logo-n-title div p:first-child {
  font-size: 1.7rem;
  color: #03396c;
  padding-bottom: 0.2rem;
  font-weight: bold;
  font-variant: small-caps;
}

#main-header .logo-n-title div p:last-child {
  text-align: center;
  font-size: 1.2rem;
  color: #03396c;
  word-spacing: 0.25rem;
  font-weight: bold;
}

.site-logo {
  display: inline-block;
  width: 150px;
  height: 110px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon p {
  padding-right: 1rem;
}

.social-icon p i {
  color: #03396c;
}

.social-icon p i:hover {
  color: #005b96;
}

/* Navbar */
#main-nav {
  background: #03396c;
}

#main-nav .container {
  padding: 0;
}

#main-nav ul {
  display: flex;
  justify-content: flex-start;
}

#main-nav ul li {
  list-style: none;
}

#main-nav ul li a {
  display: block;
  text-decoration: none;
  color: #ddd;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
}

#main-nav ul li a:hover {
  background: #011f4b;
}

/* Showcase */
#showcase {
  position: relative;
  background: url(../img/excavator.jpg) no-repeat center center/cover;
  height: 100vh;
  color: #ddd;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Message and Enquiry */
#message-n-enquiry {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.message {
  flex: 1;
  flex-basis: 60%;
  background: #f7f7f7;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-right: 1rem;
}

.text-m {
  margin-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  line-height: 1.75;
  text-align: justify;
  align-self: center;
}

.enquiry {
  flex: 1;
  flex-basis: 40%;
  background: #b3cde0;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

.enquiry .form-group,
.join-us .form-group {
  margin: 0.75rem;
  margin-left: 0;
}

.enquiry .form-group label,
.join-us .form-group label {
  display: block;
  padding-bottom: 0.25rem;
}

.enquiry .form-group input,
.join-us .form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #fff;
  outline: none;
  border-radius: 3px;
}

.enquiry .form-group:last-child input,
.join-us .form-group:last-child input {
  margin-top: 0.25rem;
  border: none;
  width: 100px;
}

/* Our Partners and Join Us */
#partners-n-joinus {
  display: flex;
  justify-content: space-between;
  padding: 0 0 2rem 0;
}

.our-partners-news {
  flex: 1;
  flex-basis: 60%;
  background: #f7f7f7;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-right: 1rem;
}

#partners-n-joinus .our-partners-news .our-partners .partners-logo img {
  width: 110px;
  height: 120px;
  border-radius: 50%;
}

#partners-n-joinus .our-partners-news .our-partners .partners-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

figure {
  text-align: center;
}

.join-us {
  flex: 1;
  flex-basis: 40%;
  background: #b3cde0;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

/* Footer */
#main-footer {
  padding: 2rem 0;
  background: #03396c;
  color: #ddd;
}

#main-footer .container {
  padding: 0;
}

#main-footer .boxes {
  display: flex;
  justify-content: space-between;
}

#main-footer .container .boxes h3 {
  color: #ddd;
  padding-bottom: 1.5rem;
}

.box-1, .box-2 {
  flex: 1;
  flex-basis: 40%;
}

.box-3 {
  flex: 1;
  flex-basis: 20%;
}

.box-2 i {
  font-size: 1.2rem;
}

.box-2 p:last-child,
.box-2 p:last-child i {
  color: #fa3c5a;
}

#main-footer .container .boxes .box-2 p:last-child i:nth-child(1) {
  color: #665CAC;
}

#main-footer .container .boxes .box-2 p:last-child i:nth-child(2) {
  color: #4AC959;
}

.box-2 p:last-child i {
  font-size: 1.2rem;
}

.box-3 p {
  display: inline-block;
  padding-top: 1rem;
  padding-right: 1rem;
}

.box-3 p a {
  color: #ddd;
}

#main-footer p {
  line-height: 2.5;
}

.copyright-n-developer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #888;
}

.dnd a {
  color: rgb(165, 165, 165);
  text-decoration: underline;
}

/* ABOUT PAGE */
#profile .py-1,
#vision-mission .py-1 {
  word-spacing: 0.25rem;
  line-height: 1.75;
}

#profile .m-heading,
#vision-mission .m-heading {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

#profile .py-1,
#vision-mission .py-1 {
  padding-bottom: 0;
}

#profile .py-1:last-child,
#vision-mission .py-1:last-child {
  padding-bottom: 1.5rem;
}

/* OUR PRODUCTS PAGE */
#our-products .m-heading {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#our-products .container {
  padding: 0;
}

/* GALLERY PAGE */
#photos .m-heading,
#videos .m-heading {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.gallery-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.gallery-images img {
  width: 500px;
  height: auto;
  border-radius: 4px;
}

.gallery-videos video {
  width: 100%;
  height: 240px;
}

/* CONTACT PAGE */
#contact-address .m-heading,
#branch .m-heading {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

#contact-address .container .py-1:nth-child(2) {
  padding-top: 1.5rem;
}

#contact-address .py-1 {
  padding: 0.5rem 0;
}

#contact-address i,
#branch i {
  color: #03396c;
  font-size: 1.2rem;
}

#contact-address .py-1:last-child {
  color: #fa3c5a;
}

#contact-address .py-1:last-child i:nth-child(1) {
  color: #665CAC;
}

#contact-address .py-1:last-child i:nth-child(2) {
  color: #4AC959;
}

#branch .container .py-1 span {
  display: block;
  margin-bottom: 0.75rem;
}

/* Career Page */
#career .m-heading {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

#career .py-1 span {
  color: 	#189ad3;
}

/* FAQs Page */
#faq .m-heading {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

#faq .py-1 {
  padding-bottom: 0;
}

#faq .ans {
  padding-top: 0.5rem;
}

#faq .py-1:last-child,
#vision-mission .py-1:last-child {
  padding-bottom: 1.5rem;
}