#main-header {
  flex-direction: column;
  align-items: center;
}

#main-header .logo-n-title div p:first-child {
  font-size: 1.2rem;
}

#main-header .logo-n-title div p:last-child {
  font-size: 1rem;
}

.social-icon {
  display: flex;
  flex-direction: row;
}

.social-icon p {
  padding-right: 0.5rem;
}

.social-icon p i {
  font-size: 1.5rem;
}

/* Navbar */
#main-nav {
  padding-bottom: 0.75rem;
}

#main-nav ul {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#main-nav ul li a {
  border-bottom: 2px solid #ccc;
}

#main-nav ul li:last-child a {
  border: none;
}

/* Message and enquiry */
#message-n-enquiry {
  flex-direction: column;
  padding: 1.5rem 0 0 0;
}

.message {
  margin: 0rem 1rem 1rem 1rem;
}

.enquiry {
  margin: 0 1rem 1rem 1rem;
}

/* Partner and join us */
#partners-n-joinus {
  flex-direction: column;
  padding: 0 0 1.5rem 0;
}

.our-partners-news {
  margin: 0 1rem 1rem 1rem;
}

#partners-n-joinus .our-partners-news .our-partners .partners-logo {
  flex-direction: column;
}

figure {
  margin-bottom: 2rem;
}

.join-us {
  margin: 0 1rem 0 1rem;
}

/* About Page */
#profile {
  margin: 0 1rem 1rem 1rem;
}

#vision-mission {
  margin: 0 1rem 1rem 1rem;
}

#profile .py-1,
#vision-mission .py-1 {
  word-spacing: 0.25rem;
  text-align: left;
  line-height: 1.75;
}

/* Our Product Page */
#our-products {
  margin: 0 1rem 1rem 1rem;
}

/* Gallery */
#photos,
#videos {
  margin: 0 1rem 1rem 1rem;
}

.gallery-images {
  flex-direction: column;
  align-items: center;
}

.gallery-videos video {
  width: 320px;
  height: 240px;
}

.gallery-images img {
  width: 100%;
  height: auto;
}

/* Contact Page */
#contact-address,
#branch {
  margin: 0 1rem 1rem 1rem;
}

#contact-address .py-1:last-child {
  font-size: 0.9rem;
}

/* Career Page */
#career {
  margin: 0 1rem 1rem 1rem;
}

/* FAQs Page */
#faq {
  margin: 0 1rem 1rem 1rem;
}

/* Main Footer */
#main-footer {
  padding: 0.75rem;
}

#main-footer .boxes {
  flex-direction: column;
}

.box-2, .box-3 {
  margin: 0 1rem 1.5rem 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #ccc;;
}

#main-footer .container .boxes h3 {
  padding-bottom: 0.5rem;
}

/* Developer Section */
.copyright-n-developer {
  flex-direction: column;
  margin: 0 1rem 1.5rem 1rem;
}