#main-header .logo-n-title div {
  display: none;
}

.social-icon {
  justify-content: center;
  align-items: center;
}

.social-icon p {
  padding-right: 0.5rem;
}

.social-icon p i {
  font-size: 1.25rem;
}

#contact-address .py-1:last-child {
  font-size: 0.85rem;
}

#contact-address .py-1:last-child i:nth-child(1),
#contact-address .py-1:last-child i:nth-child(2) {
  font-size: 0.9rem;
}

.box-2 p:last-child,
.box-2 p:last-child i {
  font-size: 0.8rem;
}

.l-heading {
  font-size: 2.75rem;
}

.lead {
  font-size: 1.25rem;
}

.copyright-n-developer,
.dnd a {
  font-size: 0.75rem;
}